@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff") format("woff"),
       url("../fonts/ptsansbold.woff") format("woff"),
       url("../fonts/ptsans.woff2") format("woff2"),
       url("../fonts/ptsansbold.woff2") format("woff2");
}

body {
  min-width: 1280px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.button {
  display: block;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #766357;
  border: none;
}

.button:hover {
  background-color: #604e43;
}
.button:focus {
  outline: 2px solid #a4c7db;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.main-header {
  position: relative;
  width: 1200px;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -70px;
  z-index: 10;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  color: #000;
  background-color: #fff;
  font-weight: 700;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 288px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-nav-item:nth-child(1) {
  width: 227px;
  padding-left: 73px;
}

.site-nav-item:nth-child(4) {
  width: 215px;
  padding-right: 73px;
}

.site-nav-item:nth-child(3) {
  padding-left: 0;
  padding-right: 15px;
}

.site-nav-item a {
  color: #000;
}

.site-nav-item:nth-child(3) a,
.site-nav-item:nth-child(4) a {
  margin-left: auto;
}

.site-nav-item a:hover {
  color: #81b3d2;
}

.site-nav-item a:focus {
  outline: 2px solid #a4c7db;
}

.site-nav-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-nav-current a {
  color: #766357;
}

.container {
  position: relative;
  background-color: #fff;
}

.index-image-wrapper {
  position: relative;
  width: 1200px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #a4c7db;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: 0 -80px;
  background-size: cover;
}

.index-image-wrapper::after {
  position: absolute;
  content: "";
  width: 1200px;
  height:59px;
  bottom: -2px;
  left: 0;
  background-image: url("../img/polygon.svg");
}

.index-image-wrapper img {
  display: block;
  width: 459px;
  height: 353px;
  margin: 76px auto 75px auto;
}

.features {
  position: relative;
  width: 1200px;
  padding-top: 1px;
}

.features h2 {
  width: 50%;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #000;
}

.features p {
  margin-bottom: 50px;
  text-align: center;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 21px;
  color: #fff;
  text-align: center;
  background-color: #81b3d2;
}

.list-item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
}

.list-item-image {
  line-height: 0;
}

.list-item-image img {
  height: 100%;
}

.feature-item h3 {
  width: 76%;
  margin: 0 auto;
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  margin-top: 45px;
  margin-bottom: 25px;
}

.feature-item span,
.feature-item p {
  font-size: 14px;
  color: #fff;
}

.feature-item span {
  position: relative;
}

.feature-item span::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 1px;
  top: 10px;
  left: 175px;
  background-color: #fff;
}

.feature-item span::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 1px;
  top: 10px;
  left: 215px;
  background-color: #fff;
}

.feature-item p {
  width: 76%;
  margin-top: 20px;
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;

}

.feature-item:nth-child(2) .list-item-title {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.feature-item:nth-child(2) .list-item-image {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.feature-item:nth-child(2) .features-sublist {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.features-sublist {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sublist-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}

.sublist-item h3,
.sublist-item p,
.sublist-item span {
  color: #333;
}

.sublist-item h3 {
  width: 39%;
  margin-top: 160px;
  margin-bottom: 23px;
}

.sublist-item span {
  margin-bottom: 20px;
}

.sublist-item p {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 82px;
}

.item-preferences:nth-child(1)::before,
.item-preferences:nth-child(2)::before,
.item-preferences:nth-child(3)::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 76px;
  top: 60px;
  margin-left: calc(50% - 38px);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sublist-item:nth-child(1)::before {
  background-image: url("../img/icon-house.svg");
}

.sublist-item:nth-child(2)::before {
  background-image: url("../img/icon-food.svg");
}

.sublist-item:nth-child(3)::before {
  top: 55px;
  margin-left: calc(50% - 34px);
  background-image: url("../img/icon-gift.svg");
}

.item-bridge {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #eee;
}

.item-bridge h3 {
  margin-top: 48px;
}

.item-bridge p {
  width: 65%;
  margin-bottom: 60px;
}

.item-bridge span {
  position: relative;
}

.item-bridge span::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 1px;
  top: 10px;
  background-color: #333;
}

.item-bridge span::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 1px;
  top: 10px;
  background-color: #333;
}

.map {
  position: relative;
  width: 1200px;
  height: 594px;
  overflow: hidden;
  line-height: 0;
  background-color: #cbdda9;
}

.map iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}

.appointment {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.appointment span {
  display: block;
  margin-top: 50px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000;
  text-align: center;
}

.appointment p {
  width: 48%;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 45px;
  line-height: 24px;
  text-align: center;
}

.appointment-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 569px;
  margin: 0 auto;

  padding-top: 30px;
  padding-bottom: 33px;
  font-size: 21px;
  cursor: pointer;
}

.filters {
  width: 1054px;
  padding-left: 73px;
  padding-right: 73px;
  padding-top: 25px;
  color: #fff;
  background-color: #344550;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.filter  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filter legend {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 254px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-option {
  margin-bottom:19px;
}

.filter-option:last-child {
  margin-bottom: 31px;
}

.filter-option label {
  line-height: 21px;
}

.filter-input + label::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 23px;
  margin-right: 14px;
  background-image: url("../img/checkbox-off.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 23px 23px;
  background-position: 0 0;
  vertical-align: middle;
  cursor: pointer;
}

.filter-input:checked + label::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 23px;
  margin-right: 14px;
  background-image: url("../img/checkbox-on.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 27px 23px;
  background-position: 0 0;
  vertical-align: middle;
  cursor: pointer;
}

.filter-input:focus + label::before {
  outline: 2px solid #766357;
}

.filter-input:disabled + label::before {
  background-image: url("../img/checkbox-off-disabled.svg");
  background-size: 23px 23px;
}

.filter-input[checked]:disabled + label::before {
  background-image: url("../img/checkbox-on-disabled.svg");
  background-size: 27px 23px;
}

.filter-range {
  width: 315px;
  margin-left: auto;
  color: #fff;
  text-transform: uppercase;
}

.filter-range-title {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 13px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  border: 2px solid #fff;
  border-radius: 2px;
  font-size: 0;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2px;
  height: 22px;
  background-color: #fff;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  vertical-align: middle;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 85px;
  padding-left: 62px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: #fff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  border-width: 9px;
  -webkit-box-shadow: 0 4px 1px rgba(0, 1, 1, 0.2);
          box-shadow: 0 4px 1px rgba(0, 1, 1, 0.2);
}

.range-toggle-min {
  left:0;
}

.range-toggle-max {
  left: 80%;
}

.filter-button {
  margin-left: 84px;
  padding: 6px 34px 5px;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #fff;
  color: #000;
}

.filter-button:focus,
.filter-button:active {
  outline: 2px solid #a4c7db;
}

.search-results {
  width: 100%;
  background-color: #fff;
}

.results-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 28px;
  border-bottom: 1px solid #f2f2f2;
}

.search-list,
.sorting-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 600px;
  margin-bottom: 29px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.search-item h3 {
  font-size: 21px;
  font-weight: 700;
  color: #000;
}

.search-number {
  margin-left: 73px;
  color: #000;
  font-size: 21px;
  font-weight: 700;
}

.search-sorting {
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  margin-left: 47px;
  font-size: 12px;
  line-height: 18px;
  color: #000;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
}

.sorting-list li {
  margin-right: 33px;
}

.sorting-list li:nth-child(3) {
  margin-right: 0;
}

.sorting-item {
  position: relative;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #81b3d2;
}

.sorting-item:hover {
  color: #81b3d2;
}

.sorting-item:focus {
  outline: 1px solid #81b3d2;
}

.sorting-item:active {
  color: #000;
  border-color: transparent;
}

.current-sorting-item {
  color: #81b3d2;
  border-color: transparent;
}

.sorting-wrapper {
  margin-left: auto;
  padding-right: 73px;
}

.sorting-wrapper a {
  display: inline-block;
  vertical-align: middle;
}

.descending-sort {
  margin-top: 2px;
  margin-left: 9px;
}

.ascending-sort polygon,
.descending-sort polygon {
  fill: #cacaca;
}


.ascending-sort:hover polygon,
.descending-sort:hover polygon {
  fill: #000;
}

.ascending-sort:focus,
.descending-sort:focus {
  outline: 2px solid #81b3d2;
}

.ascending-sort:active polygon,
.descending-sort:active polygon {
  fill: #81b3d2;
}

.current-sorting polyline {
  fill: #81b3d2;
}

.search-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1200px;
}

.search-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 73px;
  border-bottom: 1px solid #f2f2f2;
}

.search-item img {
  width: 135px;
  height: 90px;
  margin-top: 28px;
  margin-right: 30px;
}

.search-item h3 {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 5px;
}

.search-image-wrapper {
  font-size: 0;
  line-height: 0;
}

.description-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}

.search-text-wrapper {
  font-size: 0;
  margin-bottom: 9px;
}

.search-text-wrapper span {
  display: inline-block;
  vertical-align: middle;
  width: 110px;
  margin-right: 6px;
  font-size: 14px;
  line-height: 21px;
}

.hotel-name {
  color:#000;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:focus {
  outline: 2px solid #81b3d2;
}

.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-more {
  width: 110px;
  padding-top: 4px;
  padding-bottom: 3px;
  margin-right: 6px;
  font-size: 14px;
  line-height: 21px;
  background-color: #a4c7db;
}

.button-more:hover {
  background-color: #669ec0;
}

.button-more:focus {
  outline: 2px solid #766357;
}

.button-more:active {
   background-color: #5496bd;
   color: rgba(255, 255, 255, 0.3);
}

.button-book {
  width: 142px;
  padding-top: 4px;
  padding-bottom: 3px;
  font-size: 14px;
  line-height: 21px;
}

.button-book:hover {
  background-color: #604e43;
}

.button-book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.rating-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 27px;
  margin-left: auto;
}

.rating {
  width:112px;
  margin-top: 46px;
  margin-bottom: 29px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #666;
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  vertical-align: baseline;
}

.world-rating {
  width: 112px;
  height: 17px;
  margin-left: auto;
  background-image: url("../img/star.png");
  background-position: right 0 bottom 0;
  background-repeat: no-repeat;
}

.two-star-rating {
  background-image: url("../img/star.png"),
                    url("../img/star.png");
  background-position: right 0 bottom 0,
                    right 23px bottom 0;
}

.three-star-rating {
  width: 112px;
  height: 17px;
  margin-left: auto;
  background-image: url("../img/star.png"),
                    url("../img/star.png"),
                    url("../img/star.png");
  background-position: right 0 bottom 0,
                    right 23px bottom 0,
                    right 46px bottom 0;
}

.four-star-rating {

  background-image: url("../img/star.png"),
                    url("../img/star.png"),
                    url("../img/star.png"),
                    url("../img/star.png");
  background-position: right 0 bottom 0,
                    right 23px bottom 0,
                    right 46px bottom 0,
                    right 71px bottom 0;
}

.five-star-rating {
  background-image: url("../img/star.png"),
                    url("../img/star.png"),
                    url("../img/star.png"),
                    url("../img/star.png"),
                    url("../img/star.png");
  background-position: right 0 bottom 0,
                    right 23px bottom 0,
                    right 46px bottom 0,
                    right 71px bottom 0,
                    right 93px bottom 0;
  background-repeat: no-repeat;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 32px 0 32px;
  justify-content: space-between;
}

.index-footer  {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.footer-contacts {
  box-sizing: border-box;
  padding-left: 124px;
  width: 33%;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
}

.footer-contacts span {
  display: block;
  margin-bottom: 5px;
}

.footer-contacts a {
  display: block;
  color: #000;
}

.footer-contacts a:hover {
  color: #81b3d2;
}

.footer-contacts a:focus {
  outline: 2px solid #81b3d2;
}

.footer-contacts a:active {
  color: #bdbbbc;
}

.footer-socials {
  display: flex;
  flex-wrap: wrap;
  width: 33%;
}

.footer-socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  padding: 0;
  margin: 0;
  margin: 0 auto;
  list-style: none;
}

.footer-socials li {
  margin-right: 6px;
  margin-bottom: 3px;
}

.footer-socials li:last-child {
  margin-right: 0;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:focus {
  outline: 2px solid #766357;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  opacity: 0.3;
}

.social-copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  width: 33%;
  padding-right: 100px;
}

.social-copyright span {
  margin-left: auto;
  padding-top: 13px;
  padding-right: 5px;
  color: #000;
}

.copyright-link {
  padding-top: 6px;
}

.copyright-logo {
  width: 115px;
  height: 41px;
}

.copyright-logo:hover path,
.copyright-logo:hover rect {
  fill: #81b3d2;
}

.copyright-logo:active path,
.copyright-logo:active rect {
  fill: #bdbbbc;
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-52%);
            transform: translateX(-52%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-48%);
            transform: translateX(-48%);
  }
}

.modal {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 569px;
  z-index: 3;
  top: 0;
  left: 50%;
  color: #000;
  font-weight: 700;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%) translateX(-50%);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.modal.no-js {
  display: block;
  -webkit-transform: translateY(0) translateX(-50%);
      -ms-transform: translateY(0) translateX(-50%);
          transform: translateY(0) translateX(-50%);
}

.modal-show {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0) translateX(-50%);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.book-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 457px;
  margin: 53px 56px 58px;
  font-size: 0;
}

.book-form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  padding: 0;
  margin: 0;
  border: none;
}

.arrival-input,
.departure-input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-right: 3px;
}

.book-form label {
  min-width: 95px;
  font-size: 14px;
  line-height: 26px;
  cursor: pointer; /*добавила, чтобы было понятно, что на элемент можно нажать,
  чтобы что-то произошло*/
}

.arrival-input input,
.departure-input input {
  width: 342px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 20px;
  margin-bottom: 29px;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 35px;
  color: #000;
  background-color: #f2f2f2;
  border: none;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.departure-input input {
  margin-left: 20px;
}

.arrival-input input:hover,
.departure-input input:hover {
  background-color: #ebebeb;
}

.arrival-input input:focus,
.departure-input input:focus {
  outline: 2px solid #81b3d2;
}

.input-calendar {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 21px;
  height: 22px;
  top: 9px;
  right: 10px;
  border: none;
  cursor: pointer;
}

.input-calendar:hover g {
  fill: #000;
}

.input-calendar:focus {
  outline: 2px solid #81b3d2;
}

.input-calendar:active g {
  fill: #81b3d2;
}

.adults-field,
.children-field {
  position: relative;
  width: 40px;
  border: none;
  background-color: #f2f2f2;
}

.button-plus,
.button-minus {
  width: 38px;
  padding: 19px 0;
  border: none;
  cursor: pointer;
}

.button-minus,
.button-plus {
  position: relative;
}

.adults-field,
.children-field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 38px;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 7px 0 5px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.visitors-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 53px;
}

.visitors-wrapper label[for="adults"] {
  min-width:  70px;
  margin-right: 42px;
}

.visitors-wrapper label[for="children"] {
  min-width: 37px;
  margin-left: 46px;
  margin-right: 32px;
}

/*Стиль специально для IE 11 - там из-за флекса неправильно
рассчитывается высота элемента*/
.visitors-wrapper input {
  min-height: 38px;
}

.icon-minus::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 2px;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  background-color: #a9a9a9;
  background-repeat: no-repeat;
}

.icon-plus::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 2px;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  background-color: #a9a9a9;
  background-repeat: no-repeat;
}

.icon-plus::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 2px;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  background-color: #a9a9a9;
  background-repeat: no-repeat;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.button-plus:hover .icon-plus::after,
.button-plus:hover .icon-plus::before,
.button-minus:hover .icon-minus::after {
  background-color: #000;
}

.button-plus:focus,
.button-plus:focus,
.button-minus:focus {
  outline: 2px solid #81b3d2;
}

.button-plus:active .icon-plus::after,
.button-plus:active .icon-plus::before,
.button-minus:active .icon-minus::after {
  background-color: #81b3d2;
}

.book-form .button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 18px 0;
  background-color: #81b3d2;
  cursor: pointer;
}

.book-form .button:hover {
  background-color: #669ec0;
}

.book-form .button:focus {
  outline: 2px solid #766357;
}

.book-form .button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
